In [91]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
import random
from xgboost import XGBClassifier
from sklearn import metrics
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression

In [124]:
train_df = pd.read_csv("train.csv")
x_train = train_df.drop(["SalePrice"], axis = 1)
y_train = train_df["SalePrice"]
x_test = pd.read_csv('test_toup.csv')

answer_df = pd.read_csv("samples submission.csv")

In [125]:
y_true = np.array(answer_df["SalePrice"])
y_true

array([208500, 181500, 223500, 140000, 250000, 143000, 307000, 200000,
       129900, 118000, 129500, 345000, 144000, 279500, 157000, 132000,
       149000,  90000, 159000, 139000, 325300, 139400, 230000, 129900,
       154000, 256300, 134800, 306000, 207500,  68500,  40000, 149350,
       179900, 165500, 277500, 309000, 145000, 153000, 109000,  82000,
       160000, 170000, 144000, 130250, 141000, 319900, 239686, 249700,
       113000, 127000, 177000, 114500, 110000, 385000, 130000, 180500,
       172500, 196500, 438780, 124900, 158000, 101000, 202500, 140000,
       219500, 317000, 180000, 226000,  80000, 225000, 244000, 129500,
       185000, 144900, 107400,  91000, 135750, 127000, 136500, 110000,
       193500, 153500, 245000, 126500, 168500, 260000, 174000, 164500,
        85000, 123600, 109900,  98600, 163500, 133900, 204750, 185000,
       214000,  94750,  83000, 128950, 205000, 178000, 118964, 198900,
       169500, 250000, 100000, 115000, 115000, 190000, 136900, 180000,
       383970, 217000, 259500, 176000, 139000, 155000, 320000, 163990,
       180000, 100000, 136000, 153900, 181000,  84500, 128000,  87000,
       155000, 150000, 226000, 244000, 150750, 220000, 180000, 174000,
       143000, 171000, 230000])

In [126]:
x_train.shape

(1321, 80)

In [127]:
x_train["type"] = "train"
x_test["type"] = "test"

In [128]:
x_whole = pd.concat([x_train, x_test], axis = 0, ignore_index=True)
print(x_train.shape)
print(x_test.shape)
print(x_whole.shape)

(1321, 81)
(139, 81)
(1460, 81)

In [129]:
object_dtype = []

for i in x_whole.columns:
    if x_whole[i].dtype == 'object':
        object_dtype.append(i)
        
np.array(object_dtype)

array(['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour',
       'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood',
       'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish',
       'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence',
       'MiscFeature', 'SaleType', 'SaleCondition', 'type'], dtype='<U13')

In [130]:
x_whole['MasVnrType'].unique()

array(['None', 'BrkFace', 'Stone', 'BrkCmn', nan], dtype=object)

In [131]:
valid_na_columns = ['Alley', 'MasVnrType', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PoolQC', 'Fence', 'MiscFeature']

In [132]:
num_but_obj_columns = ['MSSubClass', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd','GarageCars', 'Fireplaces', 'GarageYrBlt', 'MoSold', 'YrSold']

In [133]:
#for int and float columns
meanable_cols = []


for i in x_whole.columns:
    if i not in num_but_obj_columns:
        if x_whole[i].dtypes == 'int' or x_whole[i].dtypes == 'float':
            meanable_cols.append(i)
            
meanable_cols

['Id',
 'LotFrontage',
 'LotArea',
 'MasVnrArea',
 'BsmtFinSF1',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GrLivArea',
 'GarageArea',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'MiscVal']

In [134]:
le = preprocessing.LabelEncoder()
ohe = OneHotEncoder() 
for i in x_whole.columns:
    if i not in valid_na_columns:
        if i in meanable_cols:
            x_whole[i].fillna(-1, inplace = True)
            for j in range(len(train_df[i])):
                if train_df[i][j] < 0:
                    x_whole[i][j] = random.choice([x_whole[i].mean() - x_whole[i].std(), x_whole[i].mean() + x_whole[i].std()])
        else:
            print(i)
            x_whole[i].fillna("None", inplace = True)
            for j in range(len(x_whole[i])):
                if x_whole[i][j] == "None":
                    x_whole[i][j] = random.choice(x_whole[i].dropna().unique())
            if i in object_dtype:
                x_whole[i] = le.fit_transform(x_whole[i])
                
    else:
        print(i)
        x_whole[i].fillna('NaN', inplace=True)
        x_whole[i] = le.fit_transform(x_whole[i])

MSSubClass
MSZoning
Street
Alley
LotShape
LandContour
Utilities
LotConfig
LandSlope
Neighborhood
Condition1
Condition2
BldgType
HouseStyle
OverallQual
OverallCond
YearBuilt
YearRemodAdd
RoofStyle
RoofMatl
Exterior1st
Exterior2nd
MasVnrType
ExterQual
ExterCond
Foundation
BsmtQual
BsmtCond
BsmtExposure
BsmtFinType1
BsmtFinType2
Heating
HeatingQC
CentralAir
Electrical
BsmtFullBath
BsmtHalfBath

/home/rohan/.local/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

FullBath
HalfBath
BedroomAbvGr
KitchenAbvGr
KitchenQual
TotRmsAbvGrd
Functional
Fireplaces
FireplaceQu
GarageType
GarageYrBlt
GarageFinish
GarageCars
GarageQual
GarageCond
PavedDrive
PoolQC
Fence
MiscFeature
MoSold
YrSold
SaleType
SaleCondition
type

In [135]:
x_whole['GarageYrBlt'].unique()

array([1997.0, 1952.0, 2005.0, 2000.0, 1999.0, 1963.0, 2004.0, 1931.0,
       2001.0, 1942.0, 1936.0, 1975.0, 2007.0, 1971.0, 1960.0, 1923.0,
       1950.0, 2009.0, 2006.0, 1984.0, 2003.0, 1926.0, 2008.0, 1955.0,
       1981.0, 1991.0, 1987.0, 1961.0, 1986.0, 1988.0, 1958.0, 1935.0,
       1920.0, 1957.0, 1993.0, 1990.0, 1916.0, 1979.0, 1932.0, 1972.0,
       1989.0, 1976.0, 1918.0, 1914.0, 1980.0, 1924.0, 1948.0, 1962.0,
       1964.0, 1996.0, 1977.0, 1940.0, 1939.0, 2002.0, 1995.0, 1974.0,
       1959.0, 1949.0, 1994.0, 1910.0, 1954.0, 1956.0, 1978.0, 1965.0,
       1966.0, 1982.0, 1951.0, 1992.0, 2010.0, 1970.0, 1906.0, 1953.0,
       1968.0, 1998.0, 1927.0, 1925.0, 1983.0, 1941.0, 1930.0, 1985.0,
       1947.0, 1934.0, 1937.0, 1973.0, 1915.0, 1938.0, 1967.0, 1928.0,
       1922.0, 1921.0, 1969.0, 1945.0, 1946.0, 1908.0, 1933.0, 1929.0,
       1900.0], dtype=object)

In [136]:
x_whole['GarageYrBlt'] = x_whole['GarageYrBlt'].astype(float)
x_whole['GarageYrBlt'].unique()

array([1997., 1952., 2005., 2000., 1999., 1963., 2004., 1931., 2001.,
       1942., 1936., 1975., 2007., 1971., 1960., 1923., 1950., 2009.,
       2006., 1984., 2003., 1926., 2008., 1955., 1981., 1991., 1987.,
       1961., 1986., 1988., 1958., 1935., 1920., 1957., 1993., 1990.,
       1916., 1979., 1932., 1972., 1989., 1976., 1918., 1914., 1980.,
       1924., 1948., 1962., 1964., 1996., 1977., 1940., 1939., 2002.,
       1995., 1974., 1959., 1949., 1994., 1910., 1954., 1956., 1978.,
       1965., 1966., 1982., 1951., 1992., 2010., 1970., 1906., 1953.,
       1968., 1998., 1927., 1925., 1983., 1941., 1930., 1985., 1947.,
       1934., 1937., 1973., 1915., 1938., 1967., 1928., 1922., 1921.,
       1969., 1945., 1946., 1908., 1933., 1929., 1900.])

In [137]:
le.inverse_transform(x_whole["type"])

array(['train', 'train', 'train', ..., 'test', 'test', 'test'],
      dtype=object)

In [138]:
x_whole.drop("LotFrontage", axis = 1, inplace = True)

In [139]:
x_train = x_whole[x_whole["type"] == 1]
x_test = x_whole[x_whole["type"] == 0]
print(x_train.shape)
print(x_test.shape)
x_train.drop("type", axis = 1, inplace=True)
x_test.drop("type", axis = 1, inplace = True)

(1321, 80)
(139, 80)

/home/rohan/.local/lib/python3.6/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [140]:
# model = XGBClassifier()

In [141]:
# model.fit(x_train, y_train)

In [142]:
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [143]:
y_pred = model.predict(x_test)

In [144]:
y_pred

array([215601.82506052, 205226.17135166, 217520.94513033, 172955.3481424 ,
       290538.41981045, 169021.39413223, 287533.17721106, 236492.61651131,
       164447.13509762, 120001.11953656, 125456.89131927, 384990.12558318,
       138597.06825374, 252571.33472144, 152976.67488347, 129336.9247941 ,
       153509.58549216,  97778.57739555, 150230.88786859, 110721.88461743,
       310553.35104095, 121605.74202894, 240056.24337012, 135298.07842967,
       157086.97659301, 263488.88129158, 133141.58248902, 277456.47854719,
       186414.88120515,  30279.2846801 ,  89077.25115627, 128049.01296219,
       217108.391502  , 170898.51769134, 295565.01450972, 308953.74198823,
       133221.87051433, 161293.60273869, 116947.96260519,  86264.44984375,
       136403.49764838, 154334.39346454, 163855.57317852, 136212.22729771,
       136805.19855325, 299008.84154311, 267444.54827434, 250992.01708107,
        54148.92363428, 130390.89900959, 178819.3695182 , 111890.8737524 ,
        93738.79723399, 359972.70129316, 100094.76109904, 190226.62831384,
       228285.07120725, 198546.07471616, 410354.86626338, 113448.9039992 ,
       176568.12785701, 103512.20676041, 215825.44352015, 163846.53418483,
       247957.22721624, 299142.80346216, 238522.30371391, 232945.57944806,
        69007.75544909, 212358.7537719 , 322856.59759177, 116052.67961964,
       192305.54000469, 126349.90941735, 108424.2811775 ,  85697.86599055,
       102919.99333958,  98887.77430648, 113241.72115808, 101106.39226084,
       222361.2141358 , 180493.36638809, 249410.65264311, 117961.17622861,
       165798.57941062, 262025.96697528, 201985.24254092, 170099.03366288,
        90182.39059927, 108054.64666648, 109391.62765693, 112556.76080461,
       122703.77165668, 183082.5270311 , 191969.10377545, 202067.28422919,
       229978.59284044,  98173.78387691,  72908.5588653 , 115668.56025812,
       213109.85848106, 202827.36506805, 105752.6418396 , 183200.70639413,
       184769.07306141, 283093.59883487,  96787.2081554 ,  89917.95487273,
       140677.72574113, 221271.2695363 , 144733.9238637 , 177192.2110002 ,
       348892.75346767, 227073.24866016, 225868.1045129 , 200888.17561597,
       107999.37328082, 133500.97282943, 325836.34680125, 192131.37705256,
       165014.57602309,  81832.83932355, 136206.32797435, 159048.68385817,
       175817.07441001, 100934.76209854, 125873.89399696,  77634.5245693 ,
       149227.70161622, 139580.23655232, 230437.80094014, 215406.72536708,
       153896.77155621, 239365.47057572, 159079.38674608, 199063.14599238,
       131529.10807619, 172948.01152727, 260776.03506512])

In [145]:
df_out = pd.DataFrame(y_pred)

In [146]:
df_out

                 0
0    215601.825061
1    205226.171352
2    217520.945130
3    172955.348142
4    290538.419810
..             ...
134  159079.386746
135  199063.145992
136  131529.108076
137  172948.011527
138  260776.035065

[139 rows x 1 columns]

In [147]:
df_out.columns = ["SalePrice"]

In [148]:
df_out["Id"] = df_out.index

In [149]:
df_out = df_out[["Id", "SalePrice"]]

In [150]:
df_out

      Id      SalePrice
0      0  215601.825061
1      1  205226.171352
2      2  217520.945130
3      3  172955.348142
4      4  290538.419810
..   ...            ...
134  134  159079.386746
135  135  199063.145992
136  136  131529.108076
137  137  172948.011527
138  138  260776.035065

[139 rows x 2 columns]

In [151]:
df_out["Id"] = range(1, 140)
df_out["SalePrice"].astype(int)

In [152]:
df_out.set_index("Id")

         SalePrice
Id
1    215601.825061
2    205226.171352
3    217520.945130
4    172955.348142
5    290538.419810
..             ...
135  159079.386746
136  199063.145992
137  131529.108076
138  172948.011527
139  260776.035065

[139 rows x 1 columns]

In [153]:
df_out.to_csv("ouput.csv", index = False)

In [154]:
print(np.sqrt(metrics.mean_squared_error(y_true, y_pred)))

22190.241702389638