In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
import random
from xgboost import XGBClassifier
from sklearn import metrics
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import svr
from sklearn.preprocessing import StandardScaler

In [35]:
train_df = pd.read_csv("train.csv")
x_train = train_df.drop(["SalePrice"], axis = 1)
y_train = train_df["SalePrice"]
x_test = pd.read_csv('test_toup.csv')

answer_df = pd.read_csv("samples submission.csv")

In [36]:
y_true = np.array(answer_df["SalePrice"])
y_true

array([208500, 181500, 223500, 140000, 250000, 143000, 307000, 200000,
       129900, 118000, 129500, 345000, 144000, 279500, 157000, 132000,
       149000,  90000, 159000, 139000, 325300, 139400, 230000, 129900,
       154000, 256300, 134800, 306000, 207500,  68500,  40000, 149350,
       179900, 165500, 277500, 309000, 145000, 153000, 109000,  82000,
       160000, 170000, 144000, 130250, 141000, 319900, 239686, 249700,
       113000, 127000, 177000, 114500, 110000, 385000, 130000, 180500,
       172500, 196500, 438780, 124900, 158000, 101000, 202500, 140000,
       219500, 317000, 180000, 226000,  80000, 225000, 244000, 129500,
       185000, 144900, 107400,  91000, 135750, 127000, 136500, 110000,
       193500, 153500, 245000, 126500, 168500, 260000, 174000, 164500,
        85000, 123600, 109900,  98600, 163500, 133900, 204750, 185000,
       214000,  94750,  83000, 128950, 205000, 178000, 118964, 198900,
       169500, 250000, 100000, 115000, 115000, 190000, 136900, 180000,
       383970, 217000, 259500, 176000, 139000, 155000, 320000, 163990,
       180000, 100000, 136000, 153900, 181000,  84500, 128000,  87000,
       155000, 150000, 226000, 244000, 150750, 220000, 180000, 174000,
       143000, 171000, 230000])

In [37]:
x_train.shape

(1321, 80)

In [38]:
x_train["type"] = "train"
x_test["type"] = "test"

In [39]:
x_whole = pd.concat([x_train, x_test], axis = 0, ignore_index=True)
print(x_train.shape)
print(x_test.shape)
print(x_whole.shape)

(1321, 81)
(139, 81)
(1460, 81)

In [43]:
# sns.scatterplot(x_whole["LotFrontage"], x_whole["LotArea"])
for i in range(len(x_whole)):
    if x_whole["LotFrontage"][i] > x_whole["LotArea"][i]:
        print(i)

In [23]:
object_dtype = []

for i in x_whole.columns:
    if x_whole[i].dtype == 'object':
        object_dtype.append(i)
        
np.array(object_dtype)

array(['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour',
       'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood',
       'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish',
       'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence',
       'MiscFeature', 'SaleType', 'SaleCondition', 'type'], dtype='<U13')

In [24]:
x_whole["LotFrontage"].fillna(-1, inplace = True)
for i in range(len(x_whole)):
    if(x_whole["LotFrontage"][i] < 0):
        x_whole["LotFrontage"][i] = np.sqrt(x_whole["LotArea"][i])

cor = x_whole.corr()
cor_target = abs(cor["LotFrontage"])
#Selecting highly correlated features
relevant_features = cor_target[cor_target > 0.2]
print(relevant_features)

MSSubClass      0.295491
LotFrontage     1.000000
LotArea         0.624075
BsmtFinSF1      0.231806
TotalBsmtSF     0.305230
1stFlrSF        0.384805
GrLivArea       0.329608
BedroomAbvGr    0.210276
TotRmsAbvGrd    0.263869
Fireplaces      0.305979
GarageCars      0.222795
GarageArea      0.269114
Name: LotFrontage, dtype: float64

/home/gurleen/.local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [9]:
x_whole['MasVnrType'].unique()

array(['None', 'BrkFace', 'Stone', 'BrkCmn', nan], dtype=object)

In [10]:
valid_na_columns = ['Alley', 'MasVnrType', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PoolQC', 'Fence', 'MiscFeature']

In [11]:
num_but_obj_columns = ['MSSubClass', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd','GarageCars', 'Fireplaces', 'GarageYrBlt', 'MoSold', 'YrSold']

In [12]:
#for int and float columns
meanable_cols = []


for i in x_whole.columns:
    if i not in num_but_obj_columns:
        if x_whole[i].dtypes == 'int' or x_whole[i].dtypes == 'float':
            meanable_cols.append(i)
            
meanable_cols

['Id',
 'LotFrontage',
 'LotArea',
 'MasVnrArea',
 'BsmtFinSF1',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GrLivArea',
 'GarageArea',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'MiscVal']

In [13]:
#384 - year sold
#809 - bsmt
x_whole.drop([809, 384], axis = 0, inplace=True)
y_train.drop([384, 809], axis = 0, inplace = True)
x_whole.reset_index(inplace=True)

In [47]:
le = preprocessing.LabelEncoder()
ohe = OneHotEncoder() 
for i in x_whole.columns:
    if i not in valid_na_columns:
        if i in meanable_cols:
            x_whole[i].fillna(-1, inplace = True)
            for j in range(len(train_df[i])):
                if train_df[i][j] < 0:
                    x_whole[i][j] = random.choice([x_whole[i].mean() - x_whole[i].std(), x_whole[i].mean() + x_whole[i].std()])
        else:
            print(i)
            x_whole[i].fillna("None", inplace = True)
            for j in range(len(x_whole[i])):
                if x_whole[i][j] == "None":
                    x_whole[i][j] = random.choice(x_whole[i].dropna().unique() - "None")
            if i in object_dtype:
                x_whole[i] = le.fit_transform(x_whole[i])
                
    else:
        print(i)
        x_whole[i].fillna('NaN', inplace=True)
        x_whole[i] = le.fit_transform(x_whole[i])

MSSubClass
MSZoning
Street
Alley
LotShape
LandContour
Utilities
LotConfig
LandSlope
Neighborhood
Condition1
Condition2
BldgType
HouseStyle
OverallQual
OverallCond
YearBuilt
YearRemodAdd
RoofStyle
RoofMatl
Exterior1st
Exterior2nd
MasVnrType
ExterQual
ExterCond
Foundation
BsmtQual
BsmtCond
BsmtExposure
BsmtFinType1
BsmtFinType2
Heating
HeatingQC
CentralAir
Electrical
BsmtFullBath
BsmtHalfBath
FullBath
HalfBath
BedroomAbvGr
KitchenAbvGr
KitchenQual
TotRmsAbvGrd
Functional
Fireplaces
FireplaceQu
GarageType
GarageYrBlt
GarageFinish
GarageCars
GarageQual
GarageCond
PavedDrive

/home/gurleen/.local/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

PoolQC
Fence
MiscFeature
MoSold
YrSold
SaleType
SaleCondition
type

In [48]:
x_whole['GarageYrBlt'].unique()

array([1997.0, 1936.0, 2005.0, 2000.0, 1999.0, 1963.0, 2004.0, 1931.0,
       2001.0, 1937.0, 1975.0, 2007.0, 1971.0, 1960.0, 1923.0, 1950.0,
       2009.0, 2006.0, 1984.0, 2003.0, 1925.0, 1926.0, 1955.0, 1981.0,
       1991.0, 1987.0, 1961.0, 1986.0, 1988.0, 1958.0, 1935.0, 1920.0,
       1957.0, 1993.0, 1990.0, 1916.0, 1979.0, 1932.0, 1972.0, 1989.0,
       1976.0, 1918.0, 1980.0, 1924.0, 1948.0, 1962.0, 1964.0, 1996.0,
       1977.0, 1940.0, 1939.0, 2002.0, 1995.0, 1974.0, 1959.0, 1949.0,
       2008.0, 1994.0, 1910.0, 1954.0, 1966.0, 1956.0, 1978.0, 1965.0,
       1982.0, 1951.0, 1992.0, 1970.0, 1953.0, 1968.0, 1998.0, 2010.0,
       1983.0, 1941.0, 1930.0, 1928.0, 1952.0, 1985.0, 1927.0, 1947.0,
       1900.0, 1973.0, 1942.0, 1915.0, 1938.0, 1967.0, 1921.0, 1922.0,
       1946.0, 1934.0, 1969.0, 1906.0, 1914.0, 1945.0, 1908.0, 1933.0,
       1929.0], dtype=object)

In [49]:
x_whole['GarageYrBlt'] = x_whole['GarageYrBlt'].astype(float)
x_whole['GarageYrBlt'].unique()

array([1997., 1936., 2005., 2000., 1999., 1963., 2004., 1931., 2001.,
       1937., 1975., 2007., 1971., 1960., 1923., 1950., 2009., 2006.,
       1984., 2003., 1925., 1926., 1955., 1981., 1991., 1987., 1961.,
       1986., 1988., 1958., 1935., 1920., 1957., 1993., 1990., 1916.,
       1979., 1932., 1972., 1989., 1976., 1918., 1980., 1924., 1948.,
       1962., 1964., 1996., 1977., 1940., 1939., 2002., 1995., 1974.,
       1959., 1949., 2008., 1994., 1910., 1954., 1966., 1956., 1978.,
       1965., 1982., 1951., 1992., 1970., 1953., 1968., 1998., 2010.,
       1983., 1941., 1930., 1928., 1952., 1985., 1927., 1947., 1900.,
       1973., 1942., 1915., 1938., 1967., 1921., 1922., 1946., 1934.,
       1969., 1906., 1914., 1945., 1908., 1933., 1929.])

In [50]:
le.inverse_transform(x_whole["type"])

array([1, 1, 1, ..., 0, 0, 0])

In [51]:
# x_whole.drop(["LotFrontage"], axis = 1, inplace = True)

In [52]:
x_whole["new_col_overall"] = x_whole["OverallCond"] + x_whole["OverallQual"]
x_whole["new_col_bsmt"] = x_whole["BsmtCond"] + x_whole["BsmtQual"]
x_whole.drop(["Condition2", "Exterior2nd"], axis=1, inplace=True)

In [53]:
cor = x_whole.corr()
cor_target = abs(cor["LotFrontage"])
#Selecting highly correlated features
relevant_features = cor_target[cor_target > 0.5]
print(relevant_features)

LotFrontage    1.0
Name: LotFrontage, dtype: float64

In [54]:
x_train = x_whole[x_whole["type"] == 1]
x_test = x_whole[x_whole["type"] == 0]
print(x_train.shape)
print(x_test.shape)
x_train.drop("type", axis = 1, inplace=True)
x_test.drop("type", axis = 1, inplace = True)

(1321, 81)
(139, 81)

/home/gurleen/.local/lib/python3.6/site-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [55]:
for i in range(len(x_whole)):
    if(x_whole["YearBuilt"][i] > x_whole["YrSold"][i] or x_whole["YrSold"][i] < x_whole["YearRemodAdd"][i]):
        print(i)

384

In [72]:
# model = XGBClassifier()
# model.fit(x_train, y_train)

In [88]:
model = SVR()
model.fit(x_train, y_train)

NameError: name 'SVR' is not defined

In [74]:
# model = LinearRegression()
# model.fit(x_train,y_train)

In [75]:
y_pred = model.predict(x_test)

In [76]:
y_pred

array([235000, 157000, 205000, 205000, 280000, 154000, 207500, 236500,
       115000, 140000, 125000, 239000, 137000, 244600, 165000, 110000,
       148000, 123000, 155000, 127000, 266000, 120000, 191000, 156000,
       138500, 280000, 129000, 315000, 190000,  79000, 119500, 142000,
       147000, 167000, 266000, 225000, 178000, 139000, 132000,  89500,
       139000, 141000, 137000, 156000, 120000, 266000, 260000, 270000,
       135000, 122000, 185000, 127500, 129000, 235000, 140000, 185000,
       130000, 190000, 266000, 127000, 148000,  79000, 266000, 205000,
       207500, 266000, 277000, 204000, 100000, 211000, 260000,  97000,
       190000, 148000,  98000,  89500, 132000, 131000, 125000, 125000,
       185000, 162000, 266000, 148000,  89500, 225000, 215000, 164700,
        67000, 145000,  93500, 140000, 140000, 107500, 231500, 192000,
       204000, 145000,  79000, 141000, 197500, 187000, 127000, 239000,
       118000, 275500, 125000, 110000,  87000, 149500, 145000,  89500,
       335000, 277000, 239000, 146000, 119000, 140000, 260000, 210000,
       235000,  87000, 145000, 140000, 190000,  81000, 122000, 120000,
       159500, 148000, 205000, 225000, 148000, 162000, 241500, 152000,
       165000, 241500, 192000])

In [77]:
df_out = pd.DataFrame(y_pred)

In [78]:
df_out

          0
0    235000
1    157000
2    205000
3    205000
4    280000
..      ...
134  241500
135  152000
136  165000
137  241500
138  192000

[139 rows x 1 columns]

In [79]:
df_out.columns = ["SalePrice"]

In [80]:
df_out["Id"] = df_out.index

In [81]:
df_out = df_out[["Id", "SalePrice"]]

In [82]:
df_out

      Id  SalePrice
0      0     235000
1      1     157000
2      2     205000
3      3     205000
4      4     280000
..   ...        ...
134  134     241500
135  135     152000
136  136     165000
137  137     241500
138  138     192000

[139 rows x 2 columns]

In [83]:
df_out["Id"] = range(1, 140)
df_out["SalePrice"] = df_out["SalePrice"].astype(int)

In [84]:
df_out.set_index("Id")

     SalePrice
Id
1       235000
2       157000
3       205000
4       205000
5       280000
..         ...
135     241500
136     152000
137     165000
138     241500
139     192000

[139 rows x 1 columns]

In [85]:
df_out.to_csv("ouput.csv", index = False)

In [87]:
print(np.sqrt(metrics.mean_squared_error(y_true, df_out["SalePrice"])))

38915.27347064343