In [313]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
import random

In [314]:
train_df = pd.read_csv("train.csv")

In [315]:
train_df.shape

(1321, 81)

In [316]:
train_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,140,60,RL,65.0,15426,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,8,2009,WD,Normal,231500
1,141,20,RL,70.0,10500,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,ConLI,Normal,115000
2,142,20,RL,78.0,11645,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2006,WD,Normal,260000
3,143,50,RL,71.0,8520,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,166000
4,144,20,RL,78.0,10335,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2009,WD,Normal,204000

In [317]:
train_df.drop('Id', inplace=True, axis = 1)

In [318]:
train_df.dtypes.unique()

array([dtype('int64'), dtype('O'), dtype('float64')], dtype=object)

In [319]:
object_dtype = []

for i in train_df.columns:
    if train_df[i].dtype == 'object':
        object_dtype.append(i)
        
np.array(object_dtype)

array(['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour',
       'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood',
       'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish',
       'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence',
       'MiscFeature', 'SaleType', 'SaleCondition'], dtype='<U13')

In [320]:
train_df['MasVnrType'].unique()

array(['None', 'BrkFace', 'Stone', 'BrkCmn', nan], dtype=object)

In [321]:
valid_na_columns = ['Alley', 'MasVnrType', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PoolQC', 'Fence', 'MiscFeature']

In [322]:
num_but_obj_columns = ['MSSubClass', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd','GarageCars', 'Fireplaces', 'GarageYrBlt', 'MoSold', 'YrSold']

In [326]:
#for int and float columns
meanable_cols = []


for i in train_df.columns:
    if i not in num_but_obj_columns:
        if train_df[i].dtypes == 'int' or train_df[i].dtypes == 'float':
            meanable_cols.append(i)
            
meanable_cols

['LotFrontage',
 'LotArea',
 'MasVnrArea',
 'BsmtFinSF1',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GrLivArea',
 'GarageArea',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'MiscVal',
 'SalePrice']

In [327]:
train_df['Electrical'].unique()

array(['SBrkr', 'FuseA', 'FuseF', 'FuseP', 'Mix', nan], dtype=object)

In [331]:
le = preprocessing.LabelEncoder()
j = 0
for i in train_df.columns:
    if i not in valid_na_columns:
        if i in meanable_cols:
            train_df[i].fillna(-1, inplace = True)
            for j in range(len(train_df[i])):
                if train_df[i][j] < 0:
                    train_df[i][j] = random.choice([train_df[i].mean() - train_df[i].std, train_df[i].mean() + train_df[i].std])
        else:
            print(i)
            train_df[i].fillna(-1, inplace = True)
            for j in range(len(train_df[i])):
                if train_df[i][j] == "None":
                    train_df[i][j] = random.choice(train_df[i].dropna().unique())
            j += 1
            if i in object_dtype:
                print(i)
                train_df[i] = le.fit_transform(train_df[i])
                
    else:
        train_df[i].fillna('NaN', inplace=True)
        train_df[i] = le.fit_transform(train_df[i])
        j += 1
    
print(j)

MSSubClass
MSZoning
MSZoning

TypeError: unsupported operand type(s) for -: 'float' and 'method'

In [278]:
train_df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,3,65,15426,1,1,0,3,0,4,...,0,NaN,MnPrv,NaN,0,8,2009,WD,Normal,231500
1,20,3,70,10500,1,1,3,3,0,2,...,0,NaN,NaN,NaN,0,4,2010,ConLI,Normal,115000
2,20,3,78,11645,1,1,3,3,0,4,...,0,NaN,NaN,NaN,0,1,2006,WD,Normal,260000
3,50,3,71,8520,1,1,3,3,0,0,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,166000
4,20,3,78,10335,1,1,0,3,0,4,...,0,NaN,NaN,NaN,0,6,2009,WD,Normal,204000