In [73]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
import random
from xgboost import XGBClassifier
from sklearn import metrics
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn import svm
from sklearn.preprocessing import StandardScaler

In [74]:
train_df = pd.read_csv("train.csv")
x_train = train_df.drop(["SalePrice"], axis = 1)
y_train = train_df["SalePrice"]
x_test = pd.read_csv('test_toup.csv')

answer_df = pd.read_csv("samples submission.csv")

In [75]:
y_true = np.array(answer_df["SalePrice"])
y_true

array([208500, 181500, 223500, 140000, 250000, 143000, 307000, 200000,
       129900, 118000, 129500, 345000, 144000, 279500, 157000, 132000,
       149000,  90000, 159000, 139000, 325300, 139400, 230000, 129900,
       154000, 256300, 134800, 306000, 207500,  68500,  40000, 149350,
       179900, 165500, 277500, 309000, 145000, 153000, 109000,  82000,
       160000, 170000, 144000, 130250, 141000, 319900, 239686, 249700,
       113000, 127000, 177000, 114500, 110000, 385000, 130000, 180500,
       172500, 196500, 438780, 124900, 158000, 101000, 202500, 140000,
       219500, 317000, 180000, 226000,  80000, 225000, 244000, 129500,
       185000, 144900, 107400,  91000, 135750, 127000, 136500, 110000,
       193500, 153500, 245000, 126500, 168500, 260000, 174000, 164500,
        85000, 123600, 109900,  98600, 163500, 133900, 204750, 185000,
       214000,  94750,  83000, 128950, 205000, 178000, 118964, 198900,
       169500, 250000, 100000, 115000, 115000, 190000, 136900, 180000,
       383970, 217000, 259500, 176000, 139000, 155000, 320000, 163990,
       180000, 100000, 136000, 153900, 181000,  84500, 128000,  87000,
       155000, 150000, 226000, 244000, 150750, 220000, 180000, 174000,
       143000, 171000, 230000])

In [76]:
x_train.shape

(1321, 80)

In [77]:
x_train["type"] = "train"
x_test["type"] = "test"

In [78]:
x_whole = pd.concat([x_train, x_test], axis = 0, ignore_index=True)
print(x_train.shape)
print(x_test.shape)
print(x_whole.shape)

(1321, 81)
(139, 81)
(1460, 81)

In [79]:
object_dtype = []

for i in x_whole.columns:
    if x_whole[i].dtype == 'object':
        object_dtype.append(i)
        
np.array(object_dtype)

array(['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour',
       'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood',
       'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish',
       'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence',
       'MiscFeature', 'SaleType', 'SaleCondition', 'type'], dtype='<U13')

In [80]:
x_whole['MasVnrType'].unique()

array(['None', 'BrkFace', 'Stone', 'BrkCmn', nan], dtype=object)

In [81]:
valid_na_columns = ['Alley', 'MasVnrType', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PoolQC', 'Fence', 'MiscFeature']

In [82]:
num_but_obj_columns = ['MSSubClass', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd','GarageCars', 'Fireplaces', 'GarageYrBlt', 'MoSold', 'YrSold']

In [83]:
#for int and float columns
meanable_cols = []


for i in x_whole.columns:
    if i not in num_but_obj_columns:
        if x_whole[i].dtypes == 'int' or x_whole[i].dtypes == 'float':
            meanable_cols.append(i)
            
meanable_cols

['Id',
 'LotFrontage',
 'LotArea',
 'MasVnrArea',
 'BsmtFinSF1',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GrLivArea',
 'GarageArea',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'MiscVal']

In [84]:
#384 - year sold
#809 - bsmt
x_whole.drop([809, 384], axis = 0, inplace=True)
y_train.drop([384, 809], axis = 0, inplace = True)
x_whole.reset_index(inplace=True)

In [88]:
le = preprocessing.LabelEncoder()
ohe = OneHotEncoder() 
for i in x_whole.columns:
    if i not in valid_na_columns:
        if i in meanable_cols:
            x_whole[i].fillna(-1, inplace = True)
            for j in range(len(train_df[i])):
                if train_df[i][j] < 0:
                    x_whole[i][j] = random.choice([x_whole[i].mean() - x_whole[i].std(), x_whole[i].mean() + x_whole[i].std()])
        else:
            print(i)
            x_whole[i].fillna("None", inplace = True)
            for j in range(len(x_whole[i])):
                if x_whole[i][j] == "None":
                    x_whole[i][j] = random.choice(x_whole[i].dropna().unique())
            if i in object_dtype:
                x_whole[i] = le.fit_transform(x_whole[i])
                
    else:
        print(i)
        x_whole[i].fillna('NaN', inplace=True)
        x_whole[i] = le.fit_transform(x_whole[i])

index
MSSubClass
MSZoning
Street
Alley
LotShape
LandContour
Utilities
LotConfig
LandSlope
Neighborhood
Condition1
Condition2
BldgType
HouseStyle
OverallQual
OverallCond
YearBuilt
YearRemodAdd
RoofStyle
RoofMatl
Exterior1st
Exterior2nd
MasVnrType
ExterQual
ExterCond
Foundation
BsmtQual
BsmtCond
BsmtExposure
BsmtFinType1
BsmtFinType2
Heating
HeatingQC
CentralAir
Electrical
BsmtFullBath
BsmtHalfBath
FullBath
HalfBath
BedroomAbvGr
KitchenAbvGr
KitchenQual
TotRmsAbvGrd
Functional
Fireplaces
FireplaceQu
GarageType
GarageYrBlt
GarageFinish
GarageCars
GarageQual
GarageCond
PavedDrive
PoolQC
Fence

/home/rohan/.local/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

MiscFeature
MoSold
YrSold
SaleType
SaleCondition
type

In [89]:
x_whole['GarageYrBlt'].unique()

array([1997.0, 2004.0, 2005.0, 2000.0, 1999.0, 1963.0, 1931.0, 2001.0,
       1954.0, 1936.0, 1975.0, 2007.0, 1971.0, 1960.0, 1923.0, 1950.0,
       2009.0, 2006.0, 1984.0, 2003.0, 1942.0, 1926.0, 1955.0, 1981.0,
       1991.0, 1987.0, 1961.0, 1986.0, 1988.0, 1958.0, 1935.0, 1920.0,
       1957.0, 1993.0, 1990.0, 1916.0, 1979.0, 1932.0, 1972.0, 1989.0,
       1976.0, 1918.0, 1925.0, 1980.0, 1924.0, 1948.0, 1962.0, 1964.0,
       1996.0, 1977.0, 1940.0, 1939.0, 2002.0, 1995.0, 1974.0, 1959.0,
       1949.0, 2008.0, 1994.0, 1910.0, 1956.0, 1978.0, 1965.0, 1966.0,
       1982.0, 1951.0, 1992.0, 1970.0, 1929.0, 1953.0, 1968.0, 1998.0,
       1983.0, 1941.0, 1930.0, 1922.0, 2010.0, 1908.0, 1985.0, 1927.0,
       1947.0, 1914.0, 1915.0, 1937.0, 1973.0, 1938.0, 1967.0, 1952.0,
       1928.0, 1934.0, 1969.0, 1906.0, 1921.0, 1945.0, 1946.0, 1933.0,
       1900.0], dtype=object)

In [90]:
x_whole['GarageYrBlt'] = x_whole['GarageYrBlt'].astype(float)
x_whole['GarageYrBlt'].unique()

array([1997., 2004., 2005., 2000., 1999., 1963., 1931., 2001., 1954.,
       1936., 1975., 2007., 1971., 1960., 1923., 1950., 2009., 2006.,
       1984., 2003., 1942., 1926., 1955., 1981., 1991., 1987., 1961.,
       1986., 1988., 1958., 1935., 1920., 1957., 1993., 1990., 1916.,
       1979., 1932., 1972., 1989., 1976., 1918., 1925., 1980., 1924.,
       1948., 1962., 1964., 1996., 1977., 1940., 1939., 2002., 1995.,
       1974., 1959., 1949., 2008., 1994., 1910., 1956., 1978., 1965.,
       1966., 1982., 1951., 1992., 1970., 1929., 1953., 1968., 1998.,
       1983., 1941., 1930., 1922., 2010., 1908., 1985., 1927., 1947.,
       1914., 1915., 1937., 1973., 1938., 1967., 1952., 1928., 1934.,
       1969., 1906., 1921., 1945., 1946., 1933., 1900.])

In [91]:
le.inverse_transform(x_whole["type"])

array([1, 1, 1, ..., 0, 0, 0])

In [92]:
x_whole.drop("LotFrontage", axis = 1, inplace = True)

In [93]:
x_whole["new_col_overall"] = x_whole["OverallCond"] + x_whole["OverallQual"]
x_whole["new_col_bsmt"] = x_whole["OverallCond"] + x_whole["OverallQual"]
x_whole.drop(["Condition2", "Exterior2nd"], axis=1, inplace=True)

In [96]:
x_train = x_whole[x_whole["type"] == 1]
x_test = x_whole[x_whole["type"] == 0]
print(x_train.shape)
print(x_test.shape)
x_train.drop("type", axis = 1, inplace=True)
x_test.drop("type", axis = 1, inplace = True)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [ ]:
sc = StandardScaler()
x_whole = sc.fit_transform(x_whole)

In [25]:
for i in range(len(x_whole)):
    if(x_whole["YearBuilt"][i] > x_whole["YrSold"][i] or x_whole["YrSold"][i] < x_whole["YearRemodAdd"][i]):
        print(i)

In [42]:
# model = XGBClassifier()

In [43]:
# model.fit(x_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [58]:
model = RandomForestRegressor()
model.fit(x_train,y_train)

/home/rohan/.local/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [59]:
y_pred = model.predict(x_test)

In [60]:
y_pred

array([200330. , 167320. , 221557.8, 164961. , 309162.4, 152060. ,
       302030. , 250737. , 162579.5, 123310. , 137650. , 390128.9,
       134710. , 211918. , 145840. , 175445. , 146850. , 133260.5,
       149800. , 132023.7, 336638.1, 157063.5, 252934. , 136500. ,
       140487.5, 256752.4, 128800. , 303240.2, 157313.4,  90275. ,
        88330. , 138437.5, 225149. , 158508.4, 308796.1, 286833.6,
       143480. , 141745. , 138275. ,  95500. , 156560. , 158843.2,
       132976. , 131940. , 130145. , 294211.3, 265307. , 233895.6,
       125250.4, 129270. , 169288.5, 112700. , 105850. , 390910. ,
       142720. , 176790. , 186450. , 209908. , 382005.3, 127920. ,
       144120. ,  95175. , 220092. , 163565. , 231280. , 304287.7,
       278278. , 202590. ,  94190. , 259928. , 257050. , 123636. ,
       198180. , 144240. , 101490.4, 103750. , 119905. , 125740. ,
       129570. , 110460. , 170420. , 174863.2, 245244.6, 122690. ,
       168823.5, 282503.7, 176870. , 140959.9, 117490. , 119312.5,
        94140. , 130635.9, 120900. , 173255.8, 205250. , 169470. ,
       216847.8, 120240. ,  80347.2, 112415. , 211520. , 181040. ,
       125138.5, 204578. , 194656.1, 250150. ,  97940. , 115800. ,
       124530.5, 196902.4, 148490. , 171683.5, 285152. , 174990. ,
       197430. , 170570. , 131040. , 137550. , 295703. , 173858.5,
       150500. , 105090.8, 148240. , 160550. , 177140. ,  95250. ,
       133050. , 100680. , 142925. , 140200. , 229820. , 203062.4,
       150468.7, 245670.6, 177290. , 184568.5, 152095. , 226146.3,
       254300. ])

In [61]:
df_out = pd.DataFrame(y_pred)

In [62]:
df_out

            0
0    200330.0
1    167320.0
2    221557.8
3    164961.0
4    309162.4
..        ...
134  177290.0
135  184568.5
136  152095.0
137  226146.3
138  254300.0

[139 rows x 1 columns]

In [63]:
df_out.columns = ["SalePrice"]

In [64]:
df_out["Id"] = df_out.index

In [65]:
df_out = df_out[["Id", "SalePrice"]]

In [66]:
df_out

      Id  SalePrice
0      0   200330.0
1      1   167320.0
2      2   221557.8
3      3   164961.0
4      4   309162.4
..   ...        ...
134  134   177290.0
135  135   184568.5
136  136   152095.0
137  137   226146.3
138  138   254300.0

[139 rows x 2 columns]

In [67]:
df_out["Id"] = range(1, 140)
df_out["SalePrice"] = df_out["SalePrice"].astype(int)

In [68]:
df_out.set_index("Id")

     SalePrice
Id
1       200330
2       167320
3       221557
4       164961
5       309162
..         ...
135     177290
136     184568
137     152095
138     226146
139     254300

[139 rows x 1 columns]

In [69]:
df_out.to_csv("ouput.csv", index = False)

In [70]:
print(np.sqrt(metrics.mean_squared_error(y_true, df_out["SalePrice"])))

24678.58989914278